@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
    url('../fonts/SourceSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Bold.woff2') format('woff2'),
    url('../fonts/SourceSansPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Black.woff2') format('woff2'),
    url('../fonts/SourceSansPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 18px 'Source Sans Pro', sans-serif;
  position: relative;
  color: #000;

  &.select-close {
    overflow-x: hidden;
  }
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

svg {
  transition: 300ms;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1143px;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 688px;
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  &.field--error {
    border: 0;
    .checkbox__inner {
      span {
        border: 1px solid #f26065;
      }
    }

    .checkbox__text {
      color: #f26065;
    }
  }
}

.checkbox.disabled {
  pointer-events: none;
  text-decoration: line-through;
  cursor: inherit;
  opacity: 0.4;
}

.checkbox__text {
  font-size: 12px;
  margin-left: 10px;
  color: #d1c094;
}

.checkbox__text a {
  text-decoration: underline;
}

.checkbox__inner span {
  text-align: center;
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  border: 2px solid #d1c094;
  box-sizing: border-box;
  position: relative;
  transition: 300ms;
  z-index: 1;
  border-radius: 7px;
}

.checkbox__inner span::before {
  display: block;
  content: '';
  position: absolute;
  width: 20px;
  height: 15px;
  background: url('../images/checked.svg') no-repeat;
  background-size: cover;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  opacity: 0;
  transition: 300ms;
  visibility: hidden;
  opacity: 0;
}

.checkbox__inner input {
  display: none;
}

.checkbox__inner input:checked + span::before {
  opacity: 1;
  visibility: visible;
}

.checkbox {
  &:hover {
    .checkbox__inner span {
      border: 2px solid #fff;
    }
  }
}

.field {
  display: block;
  position: relative;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
}

.field-file-content {
  height: auto;
}

.field-file-content.mobile {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .field-file-content.mobile {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  .field-file-content.tablet {
    display: none;
  }
}

.file-field-error {
  font-size: 14px;
  color: #e30613;
  padding-left: 10px;
}

.field-file-content .field-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 40px;
  position: relative;
  height: 184px;
  background: #f2f2f2;
  border-radius: 10px;
}

.field-file-content .field-file__icon {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.field-file-content .field-file__info {
  font-size: 14px;
}

.field-file-content .field-file__info span {
  color: #009fe3;
  text-decoration: underline;
}

.field-file-content input {
  opacity: 0;
  visibility: visible;
  z-index: 100;
  position: absolute;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.field input,
textarea {
  border: none;
  padding-bottom: 0;
  border: 1px solid #d1c094;
  border-radius: 20px;
  width: 100%;
  font-size: 16px;
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 10px;
  padding-left: 20px !important;
  resize: none;
  cursor: pointer;
  transition: 300ms;
  background: none;
  color: #fff;

  &:hover {
    border: 1px solid #a9935b;
  }
}

.field-area {
  height: auto;
}

.field-area textarea {
  height: 85px;


}

.field--error {
  input {
    border: 1px solid #f26065;

    &:hover {
      border: 1px solid #f26065;
    }
  }
}

.form-group {
  border-radius: 10px;
}

.field__label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition: 400ms;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  padding-left: 20px;
  font-weight: 700;
}

@media only screen and (max-width: 991px) {
  .field__label {
    font-size: 16px;
  }
}

.field__label.top {
  top: 0px;
  transform: translateY(0);
  font-size: 12px;
}

.field input:focus ~ .field__label {
  top: 0px;
  transform: translateY(0%);
  font-size: 12px;
}

.field-area textarea {
  padding-top: 20px;
}

.field-area .field__label {
  top: 30px;

  &.top {
    top: 0;
  }
}

.field textarea:focus ~ .field__label {
  top: 0px;
  transform: translateY(0%);
  font-size: 12px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .title {
    font-size: 24px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  height: 65px;
  cursor: pointer;
  transition: 300ms;
  border: 0;
  border-radius: 30px;
  color: #000;
}

.btn-blue {
  background: #d1c094;
}

.btn-blue:hover {
  background: #c0a96d;
}

.btn-blue:active {
  background: #a9935b;
}

.fancybox-slide {
  overflow: hidden;
}

.fancybox__container {
  cursor: default !important;
}

.fancybox__content {
  cursor: default !important;
}

.iti {
  width: 100%;
  position: relative;
}

.iti input {
  width: 100%;
  padding: 7px;
  max-width: 100%;
  background: none;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #d1c094;
  width: 100%;
  font-size: 16px;
  transition: 300ms;
  cursor: pointer;
  color: #fff;

  &:hover {
    border: 1px solid #a9935b;
  }
}

.iti input::-moz-placeholder {
  color: #9f9f9f;
}

.iti input::-ms-input-placeholder {
  color: #9f9f9f;
}

.iti input::placeholder {
  color: #9f9f9f;
}

.iti__arrow {
  order: -1;
  margin-top: 20px;
}

.iti__flag {
  order: -1;
  background-image: url('../libs/inputTel/images/flags@2x.webp');
  width: 30px;
  height: 22px;
  border-radius: 5px;
}

.iti__selected-flag {
  display: flex;
  align-items: center;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  justify-content: flex-start;
  width: auto;
  padding-left: 5px;
  height: 100%;
  cursor: pointer;
  padding-right: 5px;
}

.phone-number {
  position: relative;
}

.iti--allow-dropdown .iti__country-list {
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 10000;
  background: none;
  border: 1px solid #d1c094;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;

  background: #4e4d4e;
  border-radius: 13px;
}

.iti__country-list .iti__flag,
.iti__country-name {
  font-size: 14px;
}

.iti--allow-dropdown .iti__country-list::-webkit-scrollbar {
  width: 16px;
  border: 1px solid #d1c094;
  border-radius: 20px;
}

.iti--allow-dropdown .iti__country-list::-webkit-scrollbar-thumb {
  background: #d1c094;
  width: 16px;
  border-radius: 20px;

}

.iti--container {
  background: #ededed;
  left: 0;
  z-index: 100000;
  top: 50%;
  width: 90%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  position: fixed;
}

.iti__country {
  color: #d1c094;
  font-size: 16px;
}

.iti__dial-code {
  color: #d1c094;
}

.iti__country:hover {
  cursor: pointer;
  color: #fff;
  background: none;
  font-weight: 700;
}

.iti__country:hover .iti__dial-code {
  color: #fff;
}

.iti__country:hover .iti__dial-code {
}

.iti__country-list {
  height: 90vh;
}

.iti .iti__selected-dial-code {
  margin-left: 2px;
  font-size: 16px;
  color: #fff;
}

.wrapper .iti__selected-dial-code {
  font-weight: 300;
  font-size: 16px;
}

.iti .iti__selected-dial-code {
  margin-left: 4px;
}

.fancybox-button {
  display: none;
}

// Radio

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;

  &:hover {
    .radio__inner span {
      border: 1px solid #af9245;
    }
  }
}

.radio.disabled {
  pointer-events: none;
  text-decoration: line-through;
}

.radio__text {
  font-size: 16px;
  margin-left: 10px;

  @media only screen and (max-width: 991px) {
    font-size: 14px;
  }
}

.radio__inner span {
  text-align: center;
  width: 32px;
  height: 32px;
  display: block;
  cursor: pointer;
  border: 1px solid #d1c094;
  box-sizing: border-box;
  border-radius: 50%;
  position: relative;
  transition: 300ms;
  z-index: 1;
  flex-shrink: 0;

  @media only screen and (max-width: 991px) {
    width: 30px;
    height: 30px;
  }
}

.radio__inner span::before {
  display: block;
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #d1c094;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  opacity: 0;
  transition: 300ms;
  visibility: hidden;
}

.radio__inner input {
  display: none;
}

.radio__inner input:checked + span {
  border: 1px solid #d1c094;
}

.radio__inner input:checked + span::before {
  opacity: 1;
  visibility: visible;
}

.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--multiple {
  border-radius: 20px;
}

.field-select {
  &.disabled {
    opacity: 0.7;
    pointer-events: none;
    cursor: initial;
  }
}

.select2-container {
  width: 100% !important;
  border-radius: 10px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 16px;
}

.select2-container--default .select2-selection--single {
  height: 50px;
  border: 0;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #d1c094;
  transition: 300ms;
  background: none;

  &:hover {
    border: 1px solid #a9935b;
  }
}

.select2-container--open .select2-dropdown--below {
  z-index: 100000;
  border: 0;
  border: 1px solid #a9935b;
  border-radius: 20px;
  background: #484848;
}

.select2-results__option {
  color: #fff;
  font-size: 16px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #fff;
}

.select2-container--default .select2-results > .select2-results__options {
  margin-right: 10px;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.select2-container--default
  .select2-results
  > .select2-results__options::-webkit-scrollbar {
  border: 1px solid #d1c094;
  border-radius: 20px;
  width: 7px;
}

.select2-container--default
  .select2-results
  > .select2-results__options::-webkit-scrollbar-thumb {
  background: #d1c094;
  width: 7px;
  border-radius: 20px;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background: transparent;
  color: #fff;
  text-decoration: underline;
  font-weight: 700;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  display: none;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  background: url('../images/arrow-select.svg');
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 25px;
  height: 12px;
  background-repeat: no-repeat;
  transition: 300ms;
}

.select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow {
  transform: rotate(180deg) translateY(50%);
}

.select2-container--default .select2-results__option--selected {
  background-color: transparent;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: #fff;
  font-weight: 700;
}
.select2-results__option {
  padding-left: 20px;
}

.form-content {
  &__left {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    height: fit-content;

    @media only screen and (max-width: 991px) {
      grid-gap: 20px;
    }
  }

  &__right {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    @media only screen and (max-width: 991px) {
      grid-gap: 20px;
    }

  
  }
}

.form-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;

  grid-gap: 30px;

  align-items: center;
  overflow: hidden;

  @media only screen and (max-width: 991px) {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
    background: #f7f7f7;
    height: 100%;

    @media only screen and (max-width: 991px) {
      padding: 20px 0;
      border-radius: 10px;
      overflow: hidden;
    }
  }

  .form-content {
    padding: 56px 0;
    max-width: 555px;

    @media only screen and (max-width: 1400px) {
      max-width: 446px;
    }

    @media only screen and (max-width: 991px) {
      padding-top: 0;
    }
  }
}

// Select-custom

.select-custom {
  position: relative;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-radius: 10px;
    background: #f7f7f7;
    padding: 0 20px;
    cursor: pointer;

    &.active {
      .select-custom__arrow {
        transform: rotate(180deg);
      }
    }

    span {
      color: #4e4d4e;
      font-weight: 400;
      display: block;
      font-size: 16px;
    }

    p {
      font-size: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__name {
    width: 91%;
  }

  &__arrow {
    display: flex;
    align-items: center;
    transition: 300ms;
    flex-shrink: 0;
  }

  &__dropdown {
    position: absolute;
    left: 0;
    top: 53px;
    border: 1px solid #0085ca;
    border-radius: 10px;
    background: #fff;
    z-index: 10;
    background: #f7f7f7;
    padding: 27px 29px;
    display: none;

    &.active {
      display: block;
    }

    .radio {
      margin-bottom: 20px;
      align-items: flex-start;

      &:last-child {
        margin-bottom: 0;
      }

      &__text {
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}

.captcha {
  display: flex;
  align-items: center;

  &.mobile {
    display: none;

    @media only screen and (max-width: 991px) {
      display: flex;
    }
  }

  &.desktop {
    @media only screen and (max-width: 991px) {
      display: none;
    }
  }

  @media only screen and (max-width: 991px) {
    justify-content: center;
  }

  &-right {
    justify-content: flex-end;

    @media only screen and (max-width: 991px) {
      justify-content: center;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select2-search--dropdown {
  padding: 5px 15px;
  border-radius: 10px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  height: 40px;
  color: #092147;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #a9935b;
  border-radius: 20px;
  background: none;
  color: #fff;
}

.text-info {
  background: #a1a5ab;
  margin: 100px 0;
  padding: 30px;

  @media only screen and (max-width: 991px) {
    padding: 0;
  }
}

.wrapper-content {
  max-width: 1630px;
  margin: 0 auto;
  margin-top: 50px;
  background: #454446;

  @media only screen and (max-width: 991px) {
    margin: 115px 0;
  }

  &-bg {
    background: url('../images/bg-form.png') 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.form-content {
  display: grid;
  grid-template-columns: 462px 1fr;
  grid-gap: 50px;
  color: #fff;
  align-items: flex-start;
  padding: 100px;

  &-flex {
    display: block;
  }

  @media only screen and (max-width: 1300px) {
    grid-template-columns: 1fr;
    padding: 50px;
    grid-gap: 30px;
  }

  @media only screen and (max-width: 991px) {
    padding: 50px 15px;
  }

  &__title {
    font-weight: 900;
    font-size: 60px;
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 30px;
    align-items: flex-start;

    &.center {
      align-items: inherit;
    }

    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }
  }

  &__label {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 30px;

    @media only screen and (max-width: 991px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__radios {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    gap: 60px;

    @media only screen and (max-width: 991px) {
      gap: 40px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;

    @media only screen and (max-width: 991px) {
      font-size: 14px;
    }
  }

  &__title {
    margin-bottom: 15px;

    @media only screen and (max-width: 991px) {
      font-size: 24px;
    }
  }

  &__btn {
    margin-bottom: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #e20e18;
    margin-bottom: 35px;
    transition: 300ms;

    svg {
      path {
        transition: 300ms;
      }
    }

    &:hover {
      color: #4573b7;

      svg {
        path {
          stroke: #4573b7;
        }
      }
    }

    &:active {
      color: #07377e;

      svg {
        path {
          stroke: #07377e;
        }
      }
    }

    span {
      text-decoration: underline;
      display: block;
    }
  }
}

.field-file {
  position: relative;
  background: transparent;
  min-height: 85px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #d1c094;
  border-radius: 20px;

  input {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__label {
    display: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    margin-bottom: 5px;

    &.show {
      display: block;
    }
  }

  &__info {
    width: 100%;
  }

  &__info--text {
    color: #fff;
    font-size: 14px;
    line-height: 143%;

    
  }

  .file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 1;


    &:hover {
      svg {
        path {
          stroke: #d1c094;
        }
      }
    }

    svg {
      cursor: pointer;
    }
  }

  .file-error {
    font-size: 14px;
  }

  &__icon {
    flex-shrink: 0;
    margin-left: 30px;
  }
}

.fancybox-slide--html {
  padding: 0;
}

.modal {
  max-width: 1073px;
  width: 100%;
  padding: 45px 92px 100px;
  display: none;
  border-radius: 20px;
  background: url('../images/bg-modal.png') 50% 50%;


  @media only screen and (max-width: 991px) {
    padding: 70px 15px 41px;
    overflow: scroll;
    width: 100%;
  }

  &__close {
    position: absolute;
    display: flex;
    align-items: center;
    right: 25px;
    top: 25px;
    cursor: pointer;

    svg {
      path {
        transition: 300ms;
      }
    }

    &:hover {
      svg {
        path {
          stroke: #d1c094;
        }
      }
    }

    &:active {
      svg {
        path {
          stroke: #07377e;
        }
      }
    }
  }

  .form-content {
    padding: 0;
    max-width: 100%;
  }
}

.thanks {
  max-width: 1100px;
  width: 100%;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 30px;

  @media only screen and (max-width: 991px) {
    max-width: calc(100% - 30px);
    margin: 0 auto;
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;

    svg {
      path {
        transition: 300ms;
      }
    }

    &:hover {
      svg {
        path {
          stroke: #d1c094;
        }
      }
    }

    &:active {
      svg {
        path {
          stroke: #a9935b;
        }
      }
    }
  }

  &__info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 145px;
    padding-bottom: 187px;

    @media only screen and (max-width: 991px) {
      padding: 110px 35px;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    margin-bottom: 20px;

    @media only screen and (max-width: 991px) {
      font-size: 24px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;

    @media only screen and (max-width: 991px) {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .field-area-top textarea {
    padding-top: 40px;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.select2-dropdown {
  background: none;
  border: 1px solid #d1c094;
}

.fancybox-bg {
  background: rgba(5, 5, 5, 0.3);
}
