@font-face {
  font-family: "Graph";
  src: url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Graph";
  src: url("../fonts/GraphikLCG-Black.woff2") format("woff2"), url("../fonts/GraphikLCG-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 18px "Graph", sans-serif;
  position: relative;
  color: #000;
}
body.select-close {
  overflow-x: hidden;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

svg {
  transition: 300ms;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1143px;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 688px;
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkbox.field--error {
  border: 0;
}
.checkbox.field--error .checkbox__inner span {
  border: 1px solid #e30613;
}
.checkbox.field--error .checkbox__text {
  color: #e30613;
}

.checkbox.disabled {
  pointer-events: none;
  text-decoration: line-through;
  cursor: inherit;
  opacity: 0.4;
}

.checkbox__text {
  font-size: 12px;
  margin-left: 10px;
  color: #092147;
}

.checkbox__text a {
  text-decoration: underline;
}

.checkbox__inner span {
  text-align: center;
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  border: 2px solid #19488e;
  box-sizing: border-box;
  position: relative;
  transition: 300ms;
  z-index: 1;
  border-radius: 7px;
}

.checkbox__inner span::before {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 15px;
  background: url("../images/checked.svg") no-repeat;
  background-size: cover;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  opacity: 0;
  transition: 300ms;
  visibility: hidden;
  opacity: 0;
}

.checkbox__inner input {
  display: none;
}

.checkbox__inner input:checked + span::before {
  opacity: 1;
  visibility: visible;
}

.field {
  display: block;
  position: relative;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
}

.field-file-content {
  height: auto;
}

.field-file-content.mobile {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .field-file-content.mobile {
    display: block;
  }
}
@media only screen and (max-width: 1200px) {
  .field-file-content.tablet {
    display: none;
  }
}
.file-field-error {
  font-size: 14px;
  color: #e30613;
  padding-left: 10px;
}

.field-file-content .field-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 40px;
  position: relative;
  height: 184px;
  background: #f2f2f2;
  border-radius: 10px;
}

.field-file-content .field-file__icon {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.field-file-content .field-file__info {
  font-size: 14px;
}

.field-file-content .field-file__info span {
  color: #009fe3;
  text-decoration: underline;
}

.field-file-content input {
  opacity: 0;
  visibility: visible;
  z-index: 100;
  position: absolute;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.field input,
textarea {
  border: none;
  padding-bottom: 0;
  border: 0;
  background: #f1f2f7;
  width: 100%;
  font-size: 16px;
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 10px;
  padding-left: 20px !important;
  resize: none;
  cursor: pointer;
  transition: 300ms;
}
.field input:hover,
textarea:hover {
  background: #e9ebf4;
}

.field-area {
  height: auto;
}

.field-area textarea {
  height: 102px;
}
@media only screen and (max-width: 991px) {
  .field-area textarea {
    height: 125px;
  }
}

.field--error {
  border: 1px solid #ca1313;
}

.field__error {
  color: #ca1313;
  font-size: 12px;
}

.form-group {
  border-radius: 10px;
}

.field__label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition: 400ms;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #092147;
  padding-left: 20px;
}

@media only screen and (max-width: 991px) {
  .field__label {
    font-size: 16px;
  }
}
.field__label.top {
  top: 0px;
  transform: translateY(0);
  font-size: 12px;
}

.field input:focus ~ .field__label {
  top: 0px;
  transform: translateY(0%);
  font-size: 12px;
}

.field-area textarea {
  padding-top: 20px;
}

.field-area .field__label {
  top: 30px;
}
.field-area .field__label.top {
  top: 0;
}

.field textarea:focus ~ .field__label {
  top: 0px;
  transform: translateY(0%);
  font-size: 12px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .title {
    font-size: 24px;
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  height: 65px;
  cursor: pointer;
  transition: 300ms;
  border: 0;
  border-radius: 30px;
  color: #000;
}

.btn-blue {
  background: #d1c094;
}

.btn-blue:hover {
  background: #c0a96d;
}

.btn-blue:active {
  background: #a9935b;
}

.fancybox-slide {
  overflow: hidden;
}

.fancybox__container {
  cursor: default !important;
}

.fancybox__content {
  cursor: default !important;
}

.iti {
  width: 100%;
  position: relative;
}

.iti input {
  width: 100%;
  padding: 7px;
  background: #f1f2f7;
  max-width: 100%;
  height: 50px;
  border: 0;
  width: 100%;
  font-size: 16px;
  transition: 300ms;
  cursor: pointer;
}
.iti input:hover {
  background: #e9ebf4;
}

.iti input::-moz-placeholder {
  color: #bbb;
}

.iti input::-ms-input-placeholder {
  color: #bbb;
}

.iti input::placeholder {
  color: #bbb;
}

.iti__arrow {
  order: -1;
  margin-top: 20px;
}

.iti__flag {
  order: -1;
  background-image: url("../libs/inputTel/images/flags@2x.webp");
  width: 30px;
  height: 22px;
  border-radius: 5px;
}

.iti__selected-flag {
  display: flex;
  align-items: center;
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  justify-content: flex-start;
  width: auto;
  padding-left: 5px;
  height: 100%;
  cursor: pointer;
  padding-right: 5px;
}

.phone-number {
  position: relative;
}

.iti--allow-dropdown .iti__country-list {
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 10000;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  border-top: 0;
  border-top: 0;
  height: 300px;
  border-radius: 0 0 10px 10px;
  background: #f7f7f7;
}

.iti__country-list .iti__flag,
.iti__country-name {
  font-size: 14px;
}

.iti--allow-dropdown .iti__country-list::-webkit-scrollbar {
  width: 4px;
  background: #e9eced;
}

.iti--allow-dropdown .iti__country-list::-webkit-scrollbar-thumb {
  background: #e20e18;
}

.iti--container {
  background: #ededed;
  left: 0;
  z-index: 100000;
  top: 50%;
  width: 90%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  position: fixed;
}

.iti__country {
  color: #092147;
}

.iti__dial-code {
  color: #092147;
}

.iti__country:hover {
  background: #e20e18;
  cursor: pointer;
  color: #fff;
}

.iti__country:hover .iti__dial-code {
  color: #fff;
}

.iti__country-list {
  height: 90vh;
}

.iti .iti__selected-dial-code {
  margin-left: 2px;
  font-size: 16px;
  color: #333;
}

.wrapper .iti__selected-dial-code {
  font-weight: 300;
  font-size: 16px;
}

.iti .iti__selected-dial-code {
  margin-left: 4px;
}

.fancybox-button {
  display: none;
}

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.radio:hover .radio__inner span {
  border: 1px solid #07377e;
}

.radio.disabled {
  pointer-events: none;
  text-decoration: line-through;
}

.radio__text {
  font-size: 16px;
  margin-left: 10px;
}
@media only screen and (max-width: 991px) {
  .radio__text {
    font-size: 14px;
  }
}

.radio__inner span {
  text-align: center;
  width: 32px;
  height: 32px;
  display: block;
  cursor: pointer;
  border: 1px solid #97999b;
  box-sizing: border-box;
  border-radius: 50%;
  position: relative;
  transition: 300ms;
  z-index: 1;
  flex-shrink: 0;
}
@media only screen and (max-width: 991px) {
  .radio__inner span {
    width: 30px;
    height: 30px;
  }
}

.radio__inner span::before {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #19488e;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  opacity: 0;
  transition: 300ms;
  visibility: hidden;
}

.radio__inner input {
  display: none;
}

.radio__inner input:checked + span {
  border: 1px solid #19488e;
}

.radio__inner input:checked + span::before {
  opacity: 1;
  visibility: visible;
}

.wrapper-content {
  overflow: hidden;
}

.field-select.disabled {
  opacity: 0.7;
  pointer-events: none;
  cursor: initial;
}

.select2-container {
  width: 100% !important;
  border-radius: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 16px;
}

.select2-container--default .select2-selection--single {
  height: 50px;
  border: 0;
  display: flex;
  align-items: center;
  background: #f1f2f7;
  border-radius: 0;
}
.select2-container--default .select2-selection--single:hover {
  background: #e9ebf4;
}

.select2-container--open .select2-dropdown--below {
  z-index: 100000;
  border: 0;
}

.select2-container--default .select2-results > .select2-results__options {
  margin-right: 10px;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
  background: #e6e6e6;
  width: 10px;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
  background: #a1a5ab;
  width: 10px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: transparent;
  color: #e20e18;
  text-decoration: underline;
  font-weight: 700;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  background: url("../images/arrow-select.svg");
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 18px;
  height: 12px;
  background-repeat: no-repeat;
  transition: 300ms;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  transform: rotate(180deg) translateY(50%);
}

.select2-container--default .select2-results__option--selected {
  background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #092147;
}

.select2-results__option {
  padding-left: 20px;
}

.form-content__left {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
@media only screen and (max-width: 991px) {
  .form-content__left {
    grid-gap: 20px;
  }
}
.form-content__right {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
@media only screen and (max-width: 991px) {
  .form-content__right {
    grid-gap: 20px;
  }
}
.form-content__right--margin.height .field-area textarea {
  height: 123px;
}

.form-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 30px;
  align-items: center;
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  .form-content-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
.form-content-wrapper__img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  background: #f7f7f7;
  height: 100%;
}
@media only screen and (max-width: 991px) {
  .form-content-wrapper__img {
    padding: 20px 0;
    border-radius: 10px;
    overflow: hidden;
  }
}
.form-content-wrapper .form-content {
  padding: 56px 0;
  max-width: 555px;
}
@media only screen and (max-width: 1400px) {
  .form-content-wrapper .form-content {
    max-width: 446px;
  }
}
@media only screen and (max-width: 991px) {
  .form-content-wrapper .form-content {
    padding-top: 0;
  }
}

.select-custom {
  position: relative;
}
.select-custom__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-radius: 10px;
  background: #f7f7f7;
  padding: 0 20px;
  cursor: pointer;
}
.select-custom__head.active .select-custom__arrow {
  transform: rotate(180deg);
}
.select-custom__head span {
  color: #4e4d4e;
  font-weight: 400;
  display: block;
  font-size: 16px;
}
.select-custom__head p {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select-custom__name {
  width: 91%;
}
.select-custom__arrow {
  display: flex;
  align-items: center;
  transition: 300ms;
  flex-shrink: 0;
}
.select-custom__dropdown {
  position: absolute;
  left: 0;
  top: 53px;
  border: 1px solid #0085ca;
  border-radius: 10px;
  background: #fff;
  z-index: 10;
  background: #f7f7f7;
  padding: 27px 29px;
  display: none;
}
.select-custom__dropdown.active {
  display: block;
}
.select-custom__dropdown .radio {
  margin-bottom: 20px;
  align-items: flex-start;
}
.select-custom__dropdown .radio:last-child {
  margin-bottom: 0;
}
.select-custom__dropdown .radio__text {
  font-weight: 400;
  font-size: 16px;
}

.captcha {
  display: flex;
  align-items: center;
}
.captcha.mobile {
  display: none;
}
@media only screen and (max-width: 991px) {
  .captcha.mobile {
    display: flex;
  }
}
@media only screen and (max-width: 991px) {
  .captcha.desktop {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .captcha {
    justify-content: center;
  }
}
.captcha-right {
  justify-content: flex-end;
}
@media only screen and (max-width: 991px) {
  .captcha-right {
    justify-content: center;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select2-search--dropdown {
  padding: 5px 15px;
  border-radius: 10px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  height: 40px;
  color: #092147;
  font-size: 16px;
  padding: 10px;
}

.text-info {
  background: #a1a5ab;
  margin: 100px 0;
  padding: 30px;
}
@media only screen and (max-width: 991px) {
  .text-info {
    padding: 0;
  }
}

.wrapper-content {
  margin: 150px 0;
  background: #cddcf2;
}
@media only screen and (max-width: 991px) {
  .wrapper-content {
    margin: 115px 0;
  }
}
.wrapper-content-popup {
  background: #fff;
  max-width: 540px;
  margin: 0 auto;
}
.wrapper-content-popup .form-content {
  padding: 47px 35px;
}
@media only screen and (max-width: 991px) {
  .wrapper-content-popup .form-content {
    padding: 50px 15px;
  }
}
.wrapper-content-popup .form-content__info {
  grid-template-columns: 1fr;
}
.wrapper-content-popup .form-content__title {
  margin-bottom: 30px;
}
.wrapper-content-popup .form-content .captcha {
  justify-content: flex-end;
}
@media only screen and (max-width: 991px) {
  .wrapper-content-popup .form-content .captcha {
    justify-content: center;
  }
}
.wrapper-content-blue {
  background: #07377e;
  color: #fff;
}
.wrapper-content-blue .radio:hover .radio__inner span {
  border: 1px solid #fff;
}
.wrapper-content-blue .radio__inner span::before {
  background: #fff;
}
.wrapper-content-blue .radio__inner input:checked + span {
  border: 1px solid #fff;
}
.wrapper-content-blue .checkbox__inner span {
  border: 2px solid #fff;
}
.wrapper-content-blue .checkbox__text {
  color: #fff;
}
.wrapper-content-blue .checkbox__inner span::before {
  background: url("../images/checked-white.svg") no-repeat;
}

.form-content {
  max-width: 1110px;
  margin: 0 auto;
  padding: 55px 0;
}
@media only screen and (max-width: 991px) {
  .form-content {
    padding: 55px 15px;
  }
}
.form-content__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 133%;
  text-transform: uppercase;
}
.form-content__title.title-margin {
  margin-bottom: 55px;
}
@media only screen and (max-width: 991px) {
  .form-content__title.title-margin {
    margin-bottom: 35px;
  }
}
.form-content__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 30px;
  align-items: flex-start;
}
.form-content__info.center {
  align-items: inherit;
}
@media only screen and (max-width: 991px) {
  .form-content__info {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}
.form-content__label {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 30px;
}
@media only screen and (max-width: 991px) {
  .form-content__label {
    font-size: 16px;
  }
}
.form-content__radios {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 60px;
}
@media only screen and (max-width: 991px) {
  .form-content__radios {
    gap: 40px;
  }
}
.form-content__text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 137%;
}
@media only screen and (max-width: 991px) {
  .form-content__text {
    font-size: 14px;
    margin-bottom: 25px;
  }
}
.form-content__title {
  margin-bottom: 15px;
}
@media only screen and (max-width: 991px) {
  .form-content__title {
    font-size: 24px;
  }
}
.form-content__btn {
  margin-bottom: 20px;
}
.form-content__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #e20e18;
  margin-bottom: 35px;
  transition: 300ms;
}
.form-content__link svg path {
  transition: 300ms;
}
.form-content__link:hover {
  color: #4573b7;
}
.form-content__link:hover svg path {
  stroke: #4573b7;
}
.form-content__link:active {
  color: #07377e;
}
.form-content__link:active svg path {
  stroke: #07377e;
}
.form-content__link span {
  text-decoration: underline;
  display: block;
}

.field-file {
  position: relative;
  background: #f1f2f7;
  min-height: 85px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px 20px;
}
.field-file input {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.field-file__label {
  display: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  margin-bottom: 5px;
}
.field-file__label.show {
  display: block;
}
.field-file__info {
  width: 100%;
}
.field-file__info--text {
  color: #4e4d4e;
  font-size: 14px;
  line-height: 143%;
}
.field-file__info--text span {
  color: #092147;
}
.field-file .file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 1;
}
.field-file .file-item svg {
  cursor: pointer;
}
.field-file .file-error {
  font-size: 14px;
}
.field-file__icon {
  flex-shrink: 0;
  margin-left: 30px;
}

.modal {
  max-width: 1272px;
  width: 100%;
  padding: 55px 86px;
  display: none;
}
@media only screen and (max-width: 991px) {
  .modal {
    padding: 55px 15px;
    height: 100%;
    overflow: scroll;
  }
}
.modal__close {
  position: absolute;
  display: flex;
  align-items: center;
  right: 25px;
  top: 25px;
  cursor: pointer;
}
.modal__close svg path {
  transition: 300ms;
}
.modal__close:hover svg path {
  stroke: #4573b7;
}
.modal__close:active svg path {
  stroke: #07377e;
}
.modal .form-content {
  padding: 0;
  max-width: 100%;
}

.wrapper-content-white {
  background: #fff;
}
.wrapper-content-white .form-content {
  padding: 0;
}
@media only screen and (max-width: 991px) {
  .wrapper-content-white .form-content {
    padding: 0 15px;
  }
}
.wrapper-content-white .form-list__items {
  display: flex;
  align-items: center;
  gap: 144px;
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 55px;
  margin-bottom: 55px;
  margin-top: 70px;
}
@media only screen and (max-width: 991px) {
  .wrapper-content-white .form-list__items {
    margin-top: 35px;
    margin-bottom: 30px;
    gap: 40px;
    padding-bottom: 30px;
  }
}
.wrapper-content-white .form-list__items .radio.active .radio__inner span::before {
  opacity: 1;
  visibility: visible;
}
.wrapper-content-white .form-list__items .radio__text {
  font-size: 20px;
  color: #333;
}
@media only screen and (max-width: 991px) {
  .wrapper-content-white .form-list__items .radio__text {
    font-size: 14px;
  }
}
.wrapper-content-white .form-list__aside {
  display: none;
}
.wrapper-content-white .form-list__aside.active {
  display: block;
}
.wrapper-content-white .form-list__aside--label {
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 30px;
}
.wrapper-content-white .form-list__aside--item {
  margin-bottom: 50px;
}
.wrapper-content-white .form-list__aside--item.check-item .field {
  margin-top: 20px;
}
.wrapper-content-white .form-list__aside--item:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
  .wrapper-content-white .form-list__aside--item {
    margin-bottom: 40px;
  }
}
.wrapper-content-white .form-list__aside--radios {
  display: flex;
  align-items: center;
  gap: 80px;
}
@media only screen and (max-width: 991px) {
  .wrapper-content-white .form-list__aside--radios {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
.wrapper-content-white .form-list__aside--radios .radio {
  margin-bottom: 0;
}
.wrapper-content-white .form-list__aside--radios .radio:hover .radio__inner span {
  border: 1px solid #19488e;
}
.wrapper-content-white .form-list__aside--radios .radio__text {
  color: #686868;
  font-size: 18px;
}
.wrapper-content-white .form-list__aside--check {
  display: flex;
  align-items: center;
  gap: 58px;
}
@media only screen and (max-width: 991px) {
  .wrapper-content-white .form-list__aside--check {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}
.wrapper-content-white .form-list__aside--check .checkbox:hover .checkbox__inner span {
  border: 2px solid #19488e;
}
.wrapper-content-white .form-list__aside--check .checkbox__text {
  color: #686868;
  font-size: 18px;
}
.wrapper-content-white .form-list__aside--check .checkbox__inner span {
  border: 2px solid #686868;
}
.wrapper-content-white .form-list__aside--check .checkbox__inner input:checked + span {
  border: 2px solid #092147;
}
.wrapper-content-white .form-list__aside--left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper-content-white .form-list__aside--right {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #797979;
}
@media only screen and (max-width: 991px) {
  .wrapper-content-white .form-list__aside--right {
    order: -1;
  }
}
.wrapper-content-white .form-list__aside--desc {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: #797979;
}
@media only screen and (max-width: 991px) {
  .wrapper-content-white .form-list__aside--desc {
    font-size: 14px;
  }
}
.wrapper-content-white .form-list__aside--info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 30px;
}
@media only screen and (max-width: 991px) {
  .wrapper-content-white .form-list__aside--info {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}
.wrapper-content-white .form-list__aside--info .field-area {
  grid-column: span 3;
}
@media only screen and (max-width: 991px) {
  .wrapper-content-white .form-list__aside--info .field-area {
    grid-column: span 1;
  }
}
.wrapper-content-white .form-list__aside--grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 30px;
}
.wrapper-content-white .form-list__aside--grids-item .form-list__aside--radios {
  gap: 30px;
  flex-direction: row;
}
.wrapper-content-white .form-list__aside--grids-item > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: #797979;
  min-height: 66px;
  display: block;
  margin-bottom: 13px;
}
@media only screen and (max-width: 991px) {
  .wrapper-content-white .form-list__aside--grids {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}
.wrapper-content-white .form-list__aside--grids .field.span {
  grid-column: span 2;
}
@media only screen and (max-width: 991px) {
  .wrapper-content-white .form-list__aside--grids .field.span {
    grid-column: span 1;
  }
}

.thanks {
  max-width: 1100px;
  width: 100%;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 30px;
}
@media only screen and (max-width: 991px) {
  .thanks {
    max-width: calc(100% - 30px);
    margin: 0 auto;
  }
}
.thanks__close {
  position: absolute;
  right: 15px;
  top: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.thanks__info {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 145px;
  padding-bottom: 187px;
}
@media only screen and (max-width: 991px) {
  .thanks__info {
    padding: 110px 35px;
  }
}
.thanks__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 133%;
  text-transform: uppercase;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
  .thanks__title {
    font-size: 24px;
  }
}
.thanks__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}
@media only screen and (max-width: 991px) {
  .thanks__text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 991px) {
  .field-area-top textarea {
    padding-top: 40px;
  }
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.select2-dropdown {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}

.fancybox-bg {
  background: rgba(5, 5, 5, 0.3);
}